body{
    background-color: #efefef;
}
.main{
    width: 95%;
    margin-top: 30px;
    background-color: white;
}
.page_size{
    width: 95%;
    margin-top: 30px;
    background-color: white;
}
.btn_publish{
    float:right;
    margin-bottom: 20px;
}
.up_publish{
    margin-bottom: 20px;
}
.img{
    max-width: 46px;
    /*width: 46px;*/
    /*object-fit: cover;*/
}
.text-large {
    font-size: 100%;
}
.text-small{
    font-size: smaller;
}
.comment-btn{
    float:right;
}
.menu{
    color: #999;
}
.menu .icon:hover{
    color: #499ef3;
}