<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:font-size="http://www.w3.org/1999/xhtml">
<head>
  <title>Community</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/community.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <!--  <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}" ></script>-->
</head>
<body>
<div th:insert="navigation.html :: nav"></div>

<div class="container-fluid main">
  <div class="row">
    <div class="col-lg-9 col-md-12 col-sm-12 col-12">
      <br><br>
      <h5><span th:text="${question.title}"></span></h5>
      <span class="text-muted" style="font-size: smaller">
      Author:
      <span th:text="${question.user.name}"></span>
       | Published:
      <span th:text="${#dates.format(question.gmtCreate,'dd MMMM yyyy')}"></span>
       | View Number:
      <span th:text="${question.viewCount}"></span></span>
      <hr>
      <span th:text="${question.description}"></span>
    </div>

    <div class="col-lg-3 col-md-12 col-sm-12 col-12">
      <br><br>
      <h3>Relative Question</h3>
    </div>
  </div>
</div>
</body>
</html>